<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand" src="../assets/images/dice.png" height="50px" width="50px">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <blockquote class="imgur-embed-pub" lang="en" data-id="8L3I95U"><a href="https://imgur.com/8L3I95U">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script> -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item" *ngIf="(auth.isAuthenticated$ | async) === false">
        <button (click)="auth.loginWithRedirect()" class="btn btn-outline-success my-2 my-sm-0">Log in</button>
      </li>
      <li class="nav-item dropdown" *ngIf="(auth.isAuthenticated$ | async) === true">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  (click)="startGame()" routerLink="/game">Start Game</a>
          <a class="dropdown-item"  routerLink="/score">Check Score</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="auth.logout()" *ngIf="(auth.isAuthenticated$ | async) === true" type="submit">Logout</button>
    </form>
  </div>
</nav>



<router-outlet></router-outlet>