<div class="split left">
    <button class="btn btn-danger" (click)="confirmBox()">Quit Game</button>
    <!-- <button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
      
      Do it!
    </button> -->
    <div class="centered">
      <h2>Player 1</h2>
      </div>
    <div class="row">
        <div class="column">
          <img src="../assets/images/blue/one.png"  style="width:100%">
        </div>
        <div class="column">
          <img src="../assets/images/blue/two.png" style="width:100%">
        </div>
        <div class="column">
          <img src="../assets/images/blue/three.png" style="width:100%">
        </div>
        <div class="column">
          <img src="../assets/images/blue/four.png" style="width:100%">
          </div>
        <div class="column">
          <img src="../assets/images/blue/five.png" style="width:100%">
        </div>
        <br><br>
       
    </div>
    <div class="buttons">
        <!-- <button style="margin:5px;" class="btn btn-success">New Bet</button>
        <button style="margin:5px;" class="btn btn-danger">Liar</button> -->
        <label>Enter Number of Dice: </label>
        <input type="text" id="pieces" name="pieces" [(ngModel)]="betNumOfPieces">
        <br> 
        <label>Pick Dice:</label>
        <select name="dice" id="dice" style="margin:15px;" [(ngModel)]="betDice">
            <option value=1>One</option>
            <option value=2>Two</option>
            <option value=3>Three</option>
            <option value=4>Four</option>
            <option value=5>Five</option>
            <option value=6>Six</option>
          </select>
        <button class="btn btn-success" (click)="placeBet()">Place Bet</button>
    </div>
  
</div>
  
  <div class="split right">
    <div class="centered">
      <h2>Player 2</h2>
    </div>
    <div *ngIf="liar === false"></div>
    <div *ngIf="liar === true" class="row">
        <div class="column">
          <img src="../assets/images/white/one.png" style="width:100%">
        </div>
        <div class="column">
          <img src="../assets/images/white/two.png" style="width:100%">
        </div>
        <div class="column">
          <img src="../assets/images/white/three.png" style="width:100%">
        </div>
        <div class="column">
          <img src="../assets/images/white/four.png" style="width:100%">
          </div>
        <div class="column">
          <img src="../assets/images/white/five.png" style="width:100%">
        </div>
    </div>
    <div class="buttons">
        <label>Computer's Bet:</label>
    </div>
  </div>

<router-outlet></router-outlet>
