<!-- <p>score works!</p> -->
<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('../../assets/images/background/score.jpg');
      height: 800px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
    "
  >
  <div class="column text-body">
    <h1 class="left">Score</h1>
    <br>
      <table>
          <tr>
              <td>Wins: </td><td>placeholder</td>
              
          </tr>
          <tr>
            <td>Losses: </td><td>placeholder</td>
          </tr>
          <tr>
              <td>Ratio: </td><td>placeholder</td>
          </tr>
      </table>
    </div>
</div>
